@media screen and (min-width:550px){
    html{
        width: 1519px;
    }
    nav{
        width: 1519px;
    }
}
body{
    background-image:linear-gradient(to right,bisque, rgb(0, 110, 110));
    }
header h1{
    text-align: center;
    margin-top: 30px;
    font-size: 90px;
}
header .art{
    width: 200px;
    height:70px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
nav{
    margin-top: 20px;
}
.navbar-brand{
    margin-left:300px;
}
.navbar-collapse{
    margin-left:200px;
}
.navbar .collapse ul li ul{
    display: none;
}
.navbar .collapse ul li ul li a{
    color: yellow;
}
.navbar .collapse ul li ul li:hover a{
    text-decoration: none;
}
.navbar .collapse ul li ul li:active a{
    color:rgb(255, 153, 0);
}
.navbar .collapse ul li ul li:visited a{
    color:rgb(255, 0, 0);
}
.navbar .collapse ul li{
    margin-right: 50px;
}
.navbar .collapse ul li:hover ul{
    display: block;
}
.navbar .collapse ul li ul li{
    list-style-type: none;
}
/*article*/
article{
    height: 700px; 
  }
.acılır{
    width: 350px;
    height: 150px;
    margin-top: 60px;
    margin-left: 60px;
    box-shadow: 0 10px 10px rgb(94, 94, 94);
    background-color: bisque;
    border-radius: 20px;
    position: relative;
    display: inline block;
    float: left;
    color: rgb(0, 110, 110);
}
.acıldı{
    width: 600px;
    height: auto;
    background-color: white;
    margin-left: 30%;
    margin-bottom: 10%;
    border: 2px solid bisque;
    padding: 50px;
    display: none;
    z-index: 5;
    position: absolute;
    border-radius: 20px;
    color:black;
    background-image:linear-gradient(to right,bisque, rgb(0, 110, 110));
}
.acılır p{
    padding: 10px;
}
.acılır img{
    width: 150px;
    height:150px;
    border-radius: 20px 0 0 20px;
    display: inline;
    float: left;
}
.kapat{
    border-radius: 10px;
    background-color: bisque;
    position: absolute;
    right: 20px;
    top: 10px;
}
.yazpos{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
section{
    margin-left: 70px;
}
@media screen and (max-width: 550px){
    .acıldı{
        margin-left: 0;
        width: 400px;   
    }
    article{
        height: 1900px;
    }
    .acılır{
        margin-left: 0;
    }
}

/*footer*/
footer{
    background-color: rgb(0, 110, 110);
    color: white;
    height: 100px;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: underline;
}
footer a:hover{
    color: black;
}