body{
    background-image: linear-gradient(to right, white, rgb(248, 151, 32));
    /*background: rgb(212, 236, 236);
    background-image: url('images/karaDelik.jpg');
    background-size: 1920px;
    background-repeat: no-repeat;*/ 
}
header h1{
    text-align: center;
    margin-top: 30px;
    font-size: 90px;
}
header .art{
    width: 200px;
    height:70px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
nav{
    background-color: rgb(248, 151, 32);
    margin-top: 20px;
}
.navbar-brand, .navbar-collapse{
    margin-left:300px;
}
.navbar .collapse ul li ul{
    display: none;
}
.navbar .collapse ul li ul li a{
    color: yellow;
    text-decoration: none;
}
.navbar .collapse ul li ul li:hover a{
    text-decoration: none;
}
.navbar .collapse ul li ul li:active a{
    color:rgb(255, 153, 0);
}
.navbar .collapse ul li ul li:visited a{
    color:rgb(255, 0, 0);
}
.navbar .collapse ul li{
    margin-right: 50px;
}
.navbar .collapse ul li:hover ul{
    display: block;
}
.navbar .collapse ul li ul li{
    list-style-type: none;
}
/*footer*/

footer{
    background-color: rgb(248, 151, 32);
    color: white;
    height: 100px;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: underline;
}
footer a:hover{
    color: black;
}